
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    background-color: #333;
}

nav ul{
    padding-left: 1vw;
}

nav a {
    display: block;
    color: #fff;
    background-color: #484848;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: #ddd;
    color: black;
}

/*TODO FIX*/
@media screen and (max-width: 525px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        width: 100%;
        text-align: center;
    }
}